{% extends '@App/base.html.twig' %}

{% block body %}

    <h2>BlogMD</h2>

    <hr />

    {% for post in posts %}
        <div class="post">
            <div class="date">{{ post.publishedAt.format('d n Y') }}</div>
            <a href="{{ path('blog_post', {'slug': post.slug}) }}">{{ post.title }}</a>
        </div>
    {% else %}
        <h2>The blog is empty :(</h2>
    {% endfor %}

{% endblock %}

